body {
  background-color:#FCA746;
  font-size: 20px;
}
a:hover {
  background-color: #B6D0E2;
  font-size: 20px;
  color: black;
  border: 2px solid #B6D0E2;
}
footer{
    background-color: lightgrey;
    width: 100%;
    padding: 25px;
    border: 25px solid navy;
    margin: 25px;
    border-radius: 15px;

    font-size: 2em;
    text-align: center;
    font-weight: bold;
}
